@media (min-width: 800px) and (max-width: 1280px) {


    @import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');
    
    .container {
        margin-top: 400px;
        width: 800px;
        margin-left: 300px;
        font-weight: 300;
        font-size: 18px;
    }
    
    }
    
@media (min-width: 250px) and (max-width: 525px) {
    
    
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');
    

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

html {
    height: 80%;
}

body {
    height: 80%;
    background: #1C1A28;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    font-family: Figtree;
    background-repeat: no-repeat;
    /*background: linear-gradient(45deg, #000000, #5200ff);
    background-size: 400% 400%;*/
}

/* .backvec {
    position: absolute;
    margin-top: -600px;
    z-index: -1;
}


 .backvec2 {
    position: absolute;
    margin-top: 0px;
    z-index: -1;
    margin-left: 1000px;
    width: 800px;
} */

.backnav {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    top: 60px;
} 

.container {
    margin-top: 400px;
    width: 300px;
    margin-left: 20px;
    font-weight: 300;
    font-size: 18px;
}

h2 {
    /* margin-top: 100px; */
    color: #FFD14E;
    font-size: 32px;
    font-weight: 400;
}

.brief p {
    margin-bottom: 100px;
    width: 300px;
}

p {
    width: 300px;
}

.seekurilogo {
    width: 250px;
    -webkit-filter: drop-shadow(5px 10px 20px #22222222);
    filter: drop-shadow(5px 10px 20px #22222222);
    margin-bottom: 100px;
}

.cover {
    width: 350px;
    z-index: -1;
    position: absolute;
    top: 210px;
    margin-left: 300px;
    -webkit-filter: drop-shadow(10px 10px 40px #22222222);
    filter: drop-shadow(10px 10px 40px #22222222);
    display: none;
}

.problem img {
    width: 300px;
    margin-bottom: 100px;
}

/* #babyphoto {
    display: inline;
    width: 500px;
}

#stats {
    display: inline;
    width: 600px;
} */

#babystats {
    width: 300px;
}

#buddystats {
    width: 300px;
}

.scheme {
    width: 300px;
}

.scheme img {
    width: 100%;
}

#personapic {
    width: 300px;
    margin-top: 50px;
}

#customerpic {
    width: 400px;
    margin-left: -20px;
}

#inspo {
    width: 400px;
}

#childrens {
    width: 600px;
}

#ia {
    width: 400px;
    margin-left: -20px;
}

#wireframes {
    width: 300px;
    margin-top: 50px;
    -webkit-filter: drop-shadow(5px 10px 20px #2222221d);
    filter: drop-shadow(5px 10px 20px #2222221d);
}

#UIelements {
    width: 300px;
    margin-top: 50px;
    -webkit-filter: drop-shadow(5px 10px 20px #2222221d);
    filter: drop-shadow(5px 10px 20px #2222221d);
}

#connection {
    width: 350px;
    margin-top: 50px;
    -webkit-filter: drop-shadow(5px 10px 20px #2222221d);
    filter: drop-shadow(5px 10px 20px #2222221d);
    margin-left: 10px;
}

#rooms {
    width: 300px;
    margin-top: 50px;
    -webkit-filter: drop-shadow(5px 10px 20px #2222221d);
    filter: drop-shadow(5px 10px 20px #2222221d);
}

.prototype {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: 10px;
    margin-bottom: 100px;
}
        
}